* {
    padding: 0;
    margin: 0;
}
.ui-accordion.ui-widget.ui-helper-reset {
    max-width: 1177px;
    margin: 500px 0 240px 160px;

}
.ui-accordion .ui-accordion-header {
    background-color: #fce7f2;
    border: none;
}

.ui-accordion .ui-accordion-header.ui-state-active {
    background-color: #fef5fa;
    border: none;
}
.ui-accordion .ui-accordion-content.ui-accordion-content-active {
    background-color: #fef5fa;
    border: none;
}
.ui-accordion.ui-widget.ui-helper-reset h3 {
    color: #860da6;
    font: 29px/29px 'Poppins';
    font-weight: 600;
    padding-left: 25px;

}
.ui-icon {
    background-image: none;
    position: absolute;
    right: 28px;
    top: 20px;
    width: 27px;
    height: 27px;
}
.ui-state-hover .ui-icon, .ui-state-active .ui-icon {
    background-image: none;
    }
.ui-icon-triangle-1-e, .ui-icon-triangle-1-s {
    background-position: 0;
    text-indent: 0;
}
.ui-icon-triangle-1-e::before {
    content: "\f054";
    display: inline-block;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    color: #231f20;

}
.ui-icon-triangle-1-s::before {
    content: "\f078";
    display: inline-block;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    color: #231f20;

}

.ui-accordion.ui-widget.ui-helper-reset h3::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border: none;
    border-radius: 50%;
    background-color: #860da6;
    float: left;
    margin: 11px 10px 0;

 }
p {
    font: 25px/25px 'Poppins';
    font-weight: 300;
}
